.main-header
  .main-header__left-box
    %h2.main-header__left-box__group-name
      abc
    %ul.main-header__left-box__member-list
      Member：
      %li.main-header__left-box__member-list__member takamo
  = link_to '#' do
    .main-header__edit-btn Edit
   
  
